.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFF8E7;
  padding: 10px;
}


/* HEADER */
.company-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  border: solid black 1px ;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.options-header {
    display: flex;
    gap: 30px;           /* space between items */
    padding: 10px 20px;  /* padding around the container */
    align-items: center;
}

.options-header span {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}

/* BODY */
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.top-rated-btn {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  margin: 5px;
}

.top-rated-btn:hover {
  background-color: #f8f8f8;
  border-color: #999;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
/* RESTAURANT CARD */
.res-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
}

.res-card-container:hover {
   border: 1px solid black;
   cursor: pointer;
}

.restaurant-logo {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.res-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  color: black;
}

/* SHIMMER */

.btn-shimmer {
  width: 230px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin: 5px;
}

.card-container-shimmer {
  display: flex;
  flex-wrap: wrap;
}

.card-shimmer {
  width: 250px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 5px;
}